@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-primary: #584CD6;
  --color-secondary: #282A37;
  --color-black: #141414;
  --color-gray: #1E1E1E;  
}